{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "padded-blocks": [
      0,
      "always"
    ],
    "no-trailing-spaces": [2, { "skipBlankLines": true }]
  }
}
